nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
}

img {
    width: 80%;
}


#about {
    color: blue;
}


.navigation-links {
    font-size: 36px;
}

.sign-in-box {
    border: 1px gray solid;
    padding: 15px;
    margin: 20px 0 0 0;
}

#hero-image {
    /* In order for an image to show up inside of a div element, you must specify a height for the element */
    height: 500px;
    background-image: url('../images/dog.jpg');
}

.btn {
    width:100%;
}

.foot {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.new-text {
    margin-top: 20px;
    color: gray;
    position: relative;
    z-index: 1;
}

.new-text:before {
    border-top: 2px solid #dfdfdf;
    content:"";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute;
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
}

span { 
    /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
    background: #fff; 
    padding: 0 15px; 
}

.account-btn {
    background: #e7e9ec;
    color: #111;
}